<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="index.js"></script>    
    <h1>2K PAGE</h1>
    <form action = "user">
        Enter the line number clearly read <input type = "number" name = "line_num">
        <input type = "Submit">
    </form>
  </body>
</html>