<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2K Eye Test</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="index.js"></script>    

    <h1>2K PAGE</h1>

    <div>
        <p class="sentence" style="font-size: 437px; text-align: center; margin: 10px 0; line-height: 1;">E</p>
        <p class="sentence" style="font-size: 406px; text-align: center; margin: 10px 0; line-height: 1;">F P</p>
        <p class="sentence" style="font-size: 375px; text-align: center; margin: 10px 0; line-height: 1;">T O Z</p>
        <p class="sentence" style="font-size: 344px; text-align: center; margin: 10px 0; line-height: 1;">E L D P</p>
        <p class="sentence" style="font-size: 312px; text-align: center; margin: 10px 0; line-height: 1;">F D C Z E</p>
        <p class="sentence" style="font-size: 281px; text-align: center; margin: 10px 0; line-height: 1;">F N P W G E</p>
        <p class="sentence" style="font-size: 250px; text-align: center; margin: 10px 0; line-height: 1;">F C Z D E P</p>
        <p class="sentence" style="font-size: 218px; text-align: center; margin: 10px 0; line-height: 1;">O D P Z E F L</p>
        <p class="sentence" style="font-size: 187px; text-align: center; margin: 10px 0; line-height: 1;">C P D T E F C F</p>
        <p class="sentence" style="font-size: 156px; text-align: center; margin: 10px 0; line-height: 1;">Z F T L E D O P</p>
        <p class="sentence" style="font-size: 125px; text-align: center; margin: 10px 0; line-height: 1;">F D O L Z C W E</p>
        <p class="sentence" style="font-size: 94px; text-align: center; margin: 10px 0; line-height: 1;">F P L D Q C E F</p>
        <p class="sentence" style="font-size: 62px; text-align: center; margin: 10px 0; line-height: 1;">F D C Z E</p>
        <p class="sentence" style="font-size: 39px; text-align: center; margin: 10px 0; line-height: 1;">E D O W F</p>
    </div>
<form method = "post" action = "{% url 'result' %}">
  {% csrf_token %}
  <input type="hidden" name="resolution" value="{{ resolution }}">

  <label for="line_number">Enter the line number you can read:</label>
  <input type="number" name="line_number" required>

  <label for="distance">Select the distance:</label>
  <select name="distance" required>
      <option value="25cm">25 cm (Hypermetropia)</option>
      <option value="3m">3 meters (Myopia)</option>
  </select>

  <button type="submit">Get Diopter Value</button>
</form>
</body>
</html>

