{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2K Eye Test</title>
    <link rel="stylesheet" href="{% static 'styl.css' %}">
</head>
<body>
    <script src="index.js"></script>    


    <div class="navbar">
        <h1>2K PAGE</h1>
    </div>
    <div class="scroll-animation">
        <img src="Page 42.gif" alt="Scroll Down Animation">
    </div>

<div style="display: flex; flex-direction: column; align-items: center;">
    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">1st</p>
        <p class="sentence" style="font-size: 437px; text-align: center; flex-grow: 1;">E</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">2nd</p>
        <p class="sentence" style="font-size: 406px; text-align: center; flex-grow: 1;">F P</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">3rd</p>
        <p class="sentence" style="font-size: 375px; text-align: center; flex-grow: 1;">T O Z</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">4th</p>
        <p class="sentence" style="font-size: 344px; text-align: center; flex-grow: 1;">E L P</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">5th</p>
        <p class="sentence" style="font-size: 312px; text-align: center; flex-grow: 1;">F D E</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">6th</p>
        <p class="sentence" style="font-size: 281px; text-align: center; flex-grow: 1;">F P G E</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">7th</p>
        <p class="sentence" style="font-size: 250px; text-align: center; flex-grow: 1;">F Z D E</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">8th</p>
        <p class="sentence" style="font-size: 218px; text-align: center; flex-grow: 1;">Z D O F</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">9th</p>
        <p class="sentence" style="font-size: 187px; text-align: center; flex-grow: 1;">C P D T E</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">10th</p>
        <p class="sentence" style="font-size: 156px; text-align: center; flex-grow: 1;">Z F L D O E</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">11th</p>
        <p class="sentence" style="font-size: 125px; text-align: center; flex-grow: 1;">F D P L T C D E</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">12th</p>
        <p class="sentence" style="font-size: 94px; text-align: center; flex-grow: 1;">F P L D T C D G</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">13th</p>
        <p class="sentence" style="font-size: 62px; text-align: center; flex-grow: 1;">F Q C Z E R Y P O</p>
    </div>

    <div style="display: flex; align-items: center; width: 100%;">
        <p style="font-size: 20px; text-align: left; width: 80px;">14th</p>
        <p class="sentence" style="font-size: 39px; text-align: center; flex-grow: 1;">E D O W F E Q I O P</p>
    </div>
</div>

<form method = "post" action = "{% url 'result' %}">
  {% csrf_token %}
  <input type="hidden" name="resolution" value="{{ resolution }}">

  <label for="line_number">Enter the line number you can read:</label>
  <input type="number" name="line_number" required>

  <label for="distance">Select the distance:</label>
  <select name="distance" required>
      <option value="25cm">25 cm (Hypermetropia)</option>
      <option value="3m">3 meters (Myopia)</option>
  </select>

  <button type="submit">Get Diopter Value</button>
</form>
</body>
</html>

