<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4K Eye Test</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script src="index.js"></script>    

    <h1>4K PAGE</h1>

    <div>
        <p class="sentence" style="font-size: 642px; text-align: center; ">E</p>
        <p class="sentence" style="font-size: 598px; text-align: center; ">F P</p>
        <p class="sentence" style="font-size: 553px; text-align: center; ">T O Z</p>
        <p class="sentence" style="font-size: 509px; text-align: center; ">E L P</p>
        <p class="sentence" style="font-size: 464px; text-align: center; ">F D E</p>
        <p class="sentence" style="font-size: 420px; text-align: center; ">F P G E</p>
        <p class="sentence" style="font-size: 375px; text-align: center; ">F Z D E</p>
        <p class="sentence" style="font-size: 331px; text-align: center; ">Z D O E F</p>
        <p class="sentence" style="font-size: 286px; text-align: center; ">C P D T E F</p>
        <p class="sentence" style="font-size: 242px; text-align: center; ">Z F T L D O E</p>
        <p class="sentence" style="font-size: 197px; text-align: center; ">F D P L T C D E</p>
        <p class="sentence" style="font-size: 148px; text-align: center; ">F P L D T C D G</p>
        <p class="sentence" style="font-size: 98px; text-align: center; ">F Q C Z E R Y P O</p>
        <p class="sentence" style="font-size: 62px; text-align: center; ">E D O W F E Q I O P</p>
    </div>

    <form method="post"action = "{% url 'result' %}">
      {% csrf_token %}
      <input type="hidden" name="resolution" value="{{ resolution }}">
      <label for="line_number">Enter the line number you can read:</label>
      <input type="number" name="line_number" required>

      <label for="distance">Select the distance:</label>
      <select name="distance" required>
          <option value="25cm">25 cm (Hypermetropia)</option>
          <option value="3m">3 meters (Myopia)</option>
      </select>

      <button type="submit">Get Diopter Value</button>
  </form>
</body>
</html>
