{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diopter Test</title>
    <link rel = "stylesheet" href = "{%static 'styl.css'%}">
    <style>
        .sentence {
            margin: 10px 0;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <h1>HD PAGE</h1>
    </div>
    <h1>Eye Test - Select the Line You Can Read</h1>
    <div class="scroll-animation">
        <img src="{% static 'Page 42 copy.gif' %}" alt="Scroll Down Animation">
    </div>

    <div>
        <p class="sentence" style="font-size: 322px;text-align: center;">E</p>
        <p class="sentence" style="font-size: 299px;text-align: center;">F P</p>
        <p class="sentence" style="font-size: 276px;text-align: center;">T O Z</p>
        <p class="sentence" style="font-size: 252px;text-align: center;">E L D P</p>
        <p class="sentence" style="font-size: 229px;text-align: center;">F D C Z E</p>
        <p class="sentence" style="font-size: 229px;text-align: center;">F N P W G E</p>
        <p class="sentence" style="font-size: 184px;text-align: center;">F C Z D E P</p>
        <p class="sentence" style="font-size: 161px;text-align: center;">O D P Z E F L</p>
        <p class="sentence" style="font-size: 138px;text-align: center;">C P D T E F O F</p>
        <p class="sentence" style="font-size: 116px;text-align: center;">Z F T L E D O P</p>
        <p class="sentence" style="font-size: 92px;text-align: center;">E D P L T C D E</p>
        <p class="sentence" style="font-size: 69px;text-align: center;">F P L D T C D G</p>
        <p class="sentence" style="font-size: 46px;text-align: center;">F D C Z E X Z R U </p>
        <p class="sentence" style="font-size: 29px;text-align: center;">F Q C Z E B L P C K</p>
    </div>

    <form method="post" action = "{% url 'result' %}">
        {% csrf_token %}
        <input type="hidden" name="resolution" value="{{ resolution }}">

        <label for="line_number">Enter the line number you can read:</label>
        <input type="number" name="line_number" required>

        <label for="distance">Select the distance:</label>
        <select name="distance" required>
            <option value="25cm">25 cm (Hypermetropia)</option>
            <option value="3m">3 meters (Myopia)</option>
        </select>

        <button type="submit">Get Diopter Value</button>
    </form>
</body>
</html>
